.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  // position: absolute will set the element based on its position: relative parent
  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 2px;
  }
}