.header {
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  position: relative;

  .logo-and-name {
    display: flex;
    align-items: center;
    font-size: 50px;

    .logo-container {
      height: 100%;
      width: 150px;
      padding: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

