.cart-item {
  display: flex;
  margin: 5px 0;

  img {
    height: 60px;
    width: 60px;
    object-fit: cover;
  }

  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
}