.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  background-position: center;
  background-size: cover;

  &:hover {
    cursor: pointer;

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 420px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.7;
    min-width: 30%;
    height: 120px;
    padding: 0 25px;
    border: 1px solid black;
  }

  .title {
    margin-bottom: 4px;
    color: darkgrey;
    text-transform: uppercase;
  }

  .subtitle {
    color: gray;
    text-transform: uppercase;
  }
}
