.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}

.directory-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  justify-content: center;

  .content {
    display: flex;
    padding: 0 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin-bottom: 6px;
  }
}
